<% provide(:title, "Help") %>
    <h1>Need Help with the App?</h1>
    <p>
      Check out the <a href="http://www.railstutorial.org/#help">Ruby on Rails Tutorial Help section</a>.
      For help with the sample app, check out the <a href="http://www.railstutorial.org/book"><em>Ruby on Rails 3rd Edition</em>book</a>.
    </p>
  