
<% provide(:title, "Home") %>
    <h1>Welcome to the Sample App Home Page!!</h1>
    <p>
      This is the website for the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application!!!!
    </p>
 